.address {
  /* min-width: 996px;
  max-width: 1200px !important; */
  font-size: 13px;
  line-height: 19px;
  color: #333;
  background-color: white;
  width: 100vw;
}

.address__innerNav {
  padding: 20px 24px;
  margin: 0 40px;
}

#address__content {
  margin: 0 40px;
  padding: 20px 24px;
}

.address__mainHeading {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0px 0px 14px;
  padding: 0px 0px 4px;
}

.address__innerWidget > p {
  padding: 0;
  margin: 0 0 14px 0;
}

.address__innerWidget > hr {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}

span {
  font-weight: 700;
}

.address__formContainer {
  width: 40.66%;
}

.address__formContainer > h2 {
  font-size: 21px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 22px;
}

.address__inputFields {
  width: 100%;
  margin-bottom: 15px;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 13px;
  border: 1px solid #d0d0d0;
  border-top: 1px solid #bbb;
  outline: none;
}

.address__primaryButton {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 2px;
  height: 30px;
  margin-top: 10px;
  color: #111;
  cursor: pointer;
}

.address__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.disabled__button {
  cursor: not-allowed !important;
  opacity: 0.5;
}
