.addressCard {
  width: 250px;
  background-color: transparent;
  padding: 5px;
  box-sizing: border-box;
}

.addressCard__container {
  width: 90%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.addressCard__button {
  width: 80%;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 2px;
  height: 30px;
  margin-top: 5px;
  color: #111;
  cursor: pointer;
  margin-bottom: 0;
  margin-right: auto;
  box-sizing: border-box;
}

.addressCard__fullName {
  margin-bottom: 5px;
}
